*{
    
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

}

body {
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url("./imagenes/fondo1.fw.png");
    background-color: rgba(255, 255, 255, 0.25);
  
}   

 

.logo {
    padding: 2%;
    width: 8%;
    position: fixed;
}

main {
    display: flex;
    width: 90%;
    margin-left:2%;
    margin-bottom: 5%;
    margin-top: 0;
}

/*TEX-AREAS*/

.texto-ingresado {
    background:  rgba(107, 22, 185, 0.25); 
    border: none;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    margin-top: 10%;
    margin-left: 14%;
    text-transform: lowercase;
    padding: 3%;

}

::placeholder {color:#fff;}
    .texto-ingresado:focus {
        outline: none;
}

.texto-encriptado {
    background:  rgba(107, 22, 185, 0.25);
    border: none;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    margin-top:  15% ;
    margin-left: 30%;
    padding: 5%;
   
    
    
}

.texto-encriptado:focus {
    outline: none;
}

.advertencia {
    margin-left: 10%;
    color: #fff;
    font-size: 0.7rem;
    font-weight: bold;

    
}

/*BOTONES*/

.botones {
    display: flex;
    margin-top: 10%;
}


.encriptador {
    background:  rgb(107, 22, 185);
    border: 2px solid black;
    border-radius: 25px ;
    margin-left: 10%;
    color: #fff;
    font-weight: bold;
    padding: 5px 25px;
    cursor: pointer;
    height: 70px;
    width: 300px;
}

.desencriptador {
    background:  rgb(107, 22, 185);
    border: 2px solid black;
    border-radius: 25px ;
    margin-left: 5%;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
    height: 70px;
    width: 300px;
}

.copiar {
    background:  rgb(107, 22, 185);
    border: 2px solid black;
    border-radius: 25px ;
    margin-left: 40%;
    margin-top: 35%;
    color: #fff;
    padding: 5px 25px;
    cursor: pointer;
    height: 70px;
    width: 300px;
}

footer {
    background-image: url("./imagenes/fonfofoother.jpg");
    background-size: contain;
}

footer img {
    width: 120px;
    
  
    
}

.iconos {
    display: flex;
   justify-content: center;
   padding: 10px;
}